<$MTInclude module="_header"$>

  <MTBlogIfArchives archive_type="Monthly">
  <div class="archive-date-based archive">
  <h2 class="archive-header"><$MTTrans phrase="Archives"$></h2>
  <div class="archive-content">
    <ul class="archive-list">
    <MTArchiveList archive_type="Monthly">
      <li class="archive-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$></a></li>
    </MTArchiveList>
    </ul>
  </div><!-- .archive-content -->
  </div><!-- .archive-date-based .archive -->
  </MTBlogIfArchives>

  <MTBlogIfArchives archive_type="Category">
  <div class="archive-categories archive">
  <h2 class="archive-header"><$MTTrans phrase="Categories"$></h2>

  <div class="archive-content">
    <ul class="archive-list">
    <MTCategories>
      <li class="archive-list-item"><a href="<$MTCategoryArchiveLink$>"><$MTCategoryLabel$></a></li>
    </MTCategories>
    </ul>
  </div><!-- .archive-content -->
  </div><!-- archive-date-based .archive -->
  </MTBlogIfArchives>

<$MTInclude module="_footer"$>