body {
  background: transparent url('../images/bg.jpg') top left no-repeat;
}
.container {
  margin-left: 440px;
}

/* empty spacing to link back to the root of the blog,
   this is located visually at the top of the blog as part of the bg */
header { 
  margin-top: 80px;
}
h1#banner { 
  padding-top: 0 !important; 
}
a#header_link div {
  height: 95px;
  width: 100%;
  margin: 0 auto;
}


/* ========================= */
/* = Features & Categories = */
/* ========================= */

aside#features div#about {
  background: transparent url('../images/bg_about.png') no-repeat;
  height: 540px;
}
aside#features div#weekly {
  background: transparent url('../images/bg_features.png') no-repeat;
  padding-top: 90px;
  height: 394px;
}
aside#features div#weekly div.feature {
  margin-bottom: 10px;
  text-align: center;
}
aside#features div#categories {
  background: transparent url('../images/bg_categories.png') no-repeat;
  padding-top: 70px;
  height: 826px;  
}
aside#features div#categories div.category {
  margin-bottom: 10px;
  text-align: center;
}


/* ================== */
/* = Ads & Sponsors = */
/* ================== */

aside#ads {
  margin-top: 162px;
}
aside#ads a#sponsor_info div {
  height: 24px;
  width: 100%;
  margin-bottom: 10px;
}
aside#ads .w250x200, aside#ads .w250, aside#ads .w120 {
  margin-bottom: 10px;
  height: 120px;
}
aside#ads .w250x200 {
  height: 200px;
}

