/* ========== */
/* = Layout = */
/* ========== */

/* special sytles for iPhone / similar devices */
@media screen and (max-device-width: 960px) {
  body { 
    background: #FFF url('http://candimandi.typepad.com/theme-2011/bg_iOS.jpg') top left no-repeat !important; 
  } 
}

body {
  background: #FFF url('http://candimandi.typepad.com/theme-2011/bg.jpg') top left no-repeat; /* #F1EBDB */
  font-family: Georgia, Serif;
  color: #666;
  font-size: 10pt;
}

.container {
  margin-left: 440px;
}

/* empty spacing to link back to the root of the blog,
   this is located visually at the top of the blog as part of the bg */
header { 
  margin-top: 80px;
}
h1#banner { 
  padding-top: 0 !important; 
}
a#header_link div {
  height: 95px;
  width: 100%;
  margin: 0 auto;
}
a#contact_link div {
  position: absolute;
  left: 1100px;
  top: 16px;
  height: 13px;
  width: 100px;
}
form#search {
  position: absolute;
  left: 1355px;
  top: 10px;
}
form#search input.box {
  background-color: #FFFFFF;
  border: 0 none;
  height: 13px;
  margin-right: 5px;
  margin-top: 4px;
  padding: 4px;
  width: 185px;
}
form#search input.submit {
  display: none;
  border: 0px;
}


/* ================ */
/* = Main Content = */
/* ================ */

article h3.entry-header, article h3.title {
  margin-bottom: 8px;
}

article h3.entry-header a:link, article h3.entry-header a:visited, article h3.entry-header a:hover, 
article h3.title a:link, article h3.title a:visited, article h3.title a:hover {
  color: #666;
  text-decoration: none;
}

.date-header {
  margin-bottom: 3em;
}

article img { max-width: 540px !important; }


/* ========================= */
/* = Features & Categories = */
/* ========================= */

aside#features div#about {
  background: transparent url('http://candimandi.typepad.com/theme-2011//bg_about.png') no-repeat;
  height: 540px;
}
aside#features div#about div#about_me {
  padding-top: 10px;
}
aside#features div#about div.item {
  margin-bottom: 15px;
}
aside#features div#about div#follow { margin-top: 29px; }
aside#features div#about div#follow .follow_link {  }
aside#features div#about div#follow .follow_link div {
  padding: 3px 0;
  height: 20px;
}
aside#features div#weekly {
  background: transparent url('http://candimandi.typepad.com/theme-2011/bg_features.png') no-repeat;
  padding-top: 90px;
  height: 304px; /* offset for the 90px padding-top */
}
aside#features div#weekly div.feature {
  margin-bottom: 10px;
  text-align: center;
}
aside#features div#categories {
  background: transparent url('http://candimandi.typepad.com/theme-2011/bg_categories.png') no-repeat;
  padding-top: 70px;
  height: 750px;
  margin-bottom: 10px;
}
aside#features div#categories div.category {
  margin-bottom: 10px;
  text-align: center;
}
aside#features div#rest_of_the_story {
  background: transparent url('http://candimandi.typepad.com/theme-2011/bg_story.png') no-repeat;
  padding-top: 80px;
  height: 340px;
}


/* ================== */
/* = Ads & Sponsors = */
/* ================== */

aside#ads {
  margin-top: 162px;
}
aside#ads h4 { margin-bottom: 5px; }
aside#ads a#sponsor_info div {
  height: 24px;
  width: 100%;
  margin-bottom: 10px;
}
aside#ads .w250x200, aside#ads .w250, aside#ads .w120 {
  margin-bottom: 10px;
  height: 120px;
}
aside#ads .w250x200 {
  height: 200px;
}
aside#ads div#friends {
  margin-top: 45px;
}
