<$MTInclude module="_header"$>

<!-- search result header -->
<MTNoSearch>
no search query specified
<MTElse>
    <MTNoSearchResults>
<div class="search-header">
    <h2 class="content-header"><$MTTrans phrase="No Results Found"$></h2>
</div>
<div class="search-subheader">
    <p><$MTTrans param="MTSearchString" phrase="Sorry, there were no results returned for “[_1]” — please check your spelling, or try something less specific." encode_html="1"$></p>
</div>
    <MTElse>
<div class="search-header">
    <h2 class="content-header"><$MTTrans param="MTSearchString" phrase="Search Results for: “[_1]”" encode_html="1"$></h2>
</div>
<div class="search-subheader">
    <div class="search-sort-by col">
        <$MTTrans phrase="Sort:"$>
    <MTSearchResultsIf sort_by="relevance">
        <$MTTrans phrase="Best Match"$>
    <MTElse>
        <a href="<$MTSearchResultsURL sort_by="relevance" encode_html="1"$>"><$MTTrans phrase="Best Match"$></a>
    </MTElse>
    </MTSearchResultsIf>
        |
    <MTSearchResultsIf sort_by="created_on">
        <$MTTrans phrase="Most Recent"$>
    <MTElse>
        <a href="<$MTSearchResultsURL sort_by="created_on" encode_html="1"$>"><$MTTrans phrase="Most Recent"$></a>
    </MTElse>
    </MTSearchResultsIf>
    </div>
    <!--
    <div class="search-feed-subscribe col">
        <a href="<$MTSearchResultsURL format="atom" encode_html="1"$>"><$MTTrans phrase="Subscribe"$></a>
    </div>
    -->
</div>
    </MTElse>
    </MTNoSearchResults>
</MTElse>
</MTNoSearch>

<!-- search results -->
<div class="search-results">
<MTSearchResults>
    <MTSearchResultsIfAsset type="post">

        <div class="entry" id="entry-<$MTEntryID$>">

        <img src="http://candimandi.typepad.com/theme-2011/title_top.png" alt="separator">
        <h3 class="entry-header">
            <a href="<$MTEntryPermalink$>"><MTSearchResultsHighlight field="title"><$MTEntryTitle$></MTSearchResultsHighlight></a>
        </h3><!-- .entry-header -->
        <img src="http://candimandi.typepad.com/theme-2011/title_bottom.png" alt="separator">

        <div class="entry-content">

        <div class="entry-body">

        <MTEntryPhoto>
            <p class="entry-photo">
                <img src="<$MTGalleryPhotoThumbURL encode_html="1"$>" alt="<$MTGalleryPhotoName encode_html="1"$>" />
            </p>
        </MTEntryPhoto>

            <MTSearchResultsHighlight field="content"><$MTEntryBody plaintext="1" trim_to="240"$></MTSearchResultsHighlight>

        <MTEntryAudioAssets>
            <p class="entry-audio">
                <a href="<$MTEntryAudioURL encode_html="1"$>" class="inline-player"><$MTEntryAudioName encode_html="1"$></a>
            </p>
        </MTEntryAudioAssets>

        </div><!-- .entry-body -->

        </div><!-- .entry-content -->

        <div class="entry-colophon">
          <img src="http://candimandi.typepad.com/theme-2011/date_divider.png" alt="separator">
          <p class="date-header"><$MTEntryDate format="%B %d, %Y"$></p>
          <MTEntryIfAllowComments>
            <p class="entry-actions">
              <a href="<$MTEntryPermalink$>#primary-comment-form">Add Comment</a> | 
              <a href="<$MTEntryPermalink$>#comments"><$MTEntryCommentCount$> Comments</a>
            </p>
          </MTEntryIfAllowComments>
        </div>

        </div><!-- .entry -->

    </MTSearchResultsIfAsset>

    <MTSearchResultsIfAsset type="page">

        <div class="entry" id="entry-<$MTEntryID$>">

        <img src="http://candimandi.typepad.com/theme-2011/title_top.png" alt="separator">
        <h3 class="entry-header">
            <MTSearchResultsHighlight field="title"><$MTPageTitle$></MTSearchResultsHighlight>
        </h3>
        <img src="http://candimandi.typepad.com/theme-2011/title_bottom.png" alt="separator">

        <div class="entry-content">

        <div class="entry-body">
            <MTSearchResultsHighlight field="content"><$MTPageBody plaintext="1" trim_to="240" $></MTSearchResultsHighlight>
        </div><!-- .entry-body -->

        </div><!-- .entry-content -->

        <div class="entry-colophon">
          <img src="http://candimandi.typepad.com/theme-2011/date_divider.png" alt="separator">
          <p class="date-header"><$MTEntryDate format="%B %d, %Y"$></p>
          <MTEntryIfAllowComments>
            <p class="entry-actions">
              <a href="<$MTEntryPermalink$>#primary-comment-form">Add Comment</a> | 
              <a href="<$MTEntryPermalink$>#comments"><$MTEntryCommentCount$> Comments</a>
            </p>
          </MTEntryIfAllowComments>
        </div>

        </div><!-- .entry -->

    </MTSearchResultsIfAsset>

    <MTSearchResultsIfAsset type="comment">

        <div class="comment" id="comment-<$MTCommentID$>">
            <h3 class="comment-header"><a href="<$MTCommentPermalink$>"><$MTTrans phrase="Comment by"$> <$MTCommentAuthor$><MTCommentEntry><MTIfNonEmpty tag="MTEntryTitle"> <$MTTrans phrase="on"$> “<$MTEntryTitle$>”</MTIfNonEmpty></MTCommentEntry></a></h3>
            <div class="comment-content-border comment-content">
                <MTSearchResultsHighlight field="content"><$MTCommentBody plaintext="1" trim_to="100" $></MTSearchResultsHighlight>
            </div><!-- .comment-content -->
            <p class="comment-footer">
                <$MTTrans phrase="Posted by:"$>
                <$MTCommentAuthorLink show_email="0"$> |
                <a href="<MTCommentEntry><$MTEntryPermalink$></MTCommentEntry>#comment-<$MTCommentID$>"><$MTCommentDate format_weblog_datetime="1"$></a>
            </p><!-- .comment-footer -->
        </div><!-- .comment -->

    </MTSearchResultsIfAsset>
</MTSearchResults>
</div>
<!-- .search-results -->

<MTSearchResultsIfPages>
  <div class="pagers clear">
    <MTSearchResultsIfPreviousPage>
      <span class="right">
      <a href="<$MTSearchResultsPreviousPageURL$>">
        <img src="http://candimandi.typepad.com/theme-2011/posts_newer.png" alt="newer posts">
      </a>
      </span>
    </MTSearchResultsIfPreviousPage>
    <MTSearchResultsIfNextPage>
      <span class="left">
      <a href="<$MTSearchResultsNextPageURL$>">
        <img src="http://candimandi.typepad.com/theme-2011/posts_older.png" alt="previous posts">
      </a>
      </span>
    </MTSearchResultsIfNextPage>
  </div><!-- .pagers -->
</MTSearchResultsIfPages>

<$MTInclude module="_footer"$>